In [1]:
import numpy as np
import pandas as pd

**Series:** a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.

**DataFrame:** a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

In [6]:
dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01  1.535612 -1.304179  0.357903 -0.710161
2013-01-02 -1.444794  2.268512  0.899684 -0.586898
2013-01-03  1.146122 -1.444345 -1.142841 -0.582526
2013-01-04 -0.493064  1.301920 -1.907157  0.481622
2013-01-05  1.748039  0.886331  0.015689  1.131267
2013-01-06  0.314611  0.443250  1.604600  0.488516

In [ ]:
df.